.formInput {
  max-width: 395px;
  position: relative;
}

.input {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  background-color: #f8f8f8;
  padding-left: 12px;
  outline: none;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 22px;
  color: #454545;
}

@media only screen and (max-width: 495px) {
  .formInput, .form__btn {
    max-width: 100%;
    position: relative;
  }
}

.input::placeholder {
  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.input:focus {
  border: 1px solid #159aff;
}

.inputError:focus, .inputError {
  border: 1px solid #ed1f1f;
}

.errorMessage {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 12px;
  color: #ed1f1f;
}

.tooltip {
  position: absolute;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  bottom: 55px;
  justify-content: center;
  display: flex;
  left: 0;
  min-height: 75px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
}

.tooltip__text {
  position: relative;
  font-size: 12px;
}