.form {
  margin-top: 37px;
  .form__item {
    position: relative;
  }

  .form__item:nth-child(2){

    margin-top: 22px;
  }
  .form__item:nth-child(3){
    margin-top: 19px;
  }

  .form__btn{
    margin-top: 21px;
  }

  .form__checkbox {
    position: absolute;
    left: 0;
    height: 15px;
    cursor: pointer;
    width: 100%;
    opacity: 0;
    z-index: 5;
  }

  .form__checkboxLabel {
    user-select: none;
    position: relative;
    cursor: pointer;
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 25px;
    z-index: 1;
  }

  .form__checkboxLabel::after {
    height: 3px;
    width: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: translateY(-50%) rotate(-45deg);
    left: -21px;
    top: 50%;
    display: none;
    content: '';
    position: absolute;
    z-index: 2;
  }

  .form__checkboxLabel::before {
    width: 15px;
    height: 15px;
    border: 1px solid #e4e4e4;
    background-color: #f8f8f8;
    position: absolute;
    content: '';
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .form__checkbox:checked +  .form__checkboxLabel::after {
    display: block;
  }

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  font-family: 'Roboto Medium';
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  height: 45px;
  background-color: #159aff;
  border: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 6px 2px rgba(0,0,0,0.2);
}

.btn:active, .btn:focus {
  outline: none;
}

.login {
  .login__link {
    display: flex;
    justify-content: center;
    margin-top: 26px;
  }

  .login__forgetPassword {
    color: #626262;
    font-family: 'Roboto Medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-decoration: underline;
  }
}